@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input:-webkit-autofill {
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: var(--text) !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--background) inset !important;
  }

  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px var(--background) inset !important;
  }

  .dark input:-webkit-autofill,
  .dark input:-webkit-autofill:hover,
  .dark input:-webkit-autofill:focus,
  .dark input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgb(17, 24, 39) inset !important;
    -webkit-text-fill-color: rgb(255, 255, 255) !important;
    caret-color: rgb(255, 255, 255) !important;
  }
}

:root {
  --background: #ffffff;
  --background-dark: #f7f7f7;
  --text: #1a1a1a;
  --text-dark: #4a4a4a;
  --primary: #2563eb;
}

.dark {
  --background: #111827;
  --background-dark: #1f2937;
  --text: #f3f4f6;
  --text-dark: #9ca3af;
  --primary: #3b82f6;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

html {
  font-size: 85%;
  scroll-behavior: smooth;
}
